/* CARD CLASSES */
.room-card {
  position: relative;
  /* width: 800px;
  height: 300px; */
  display: flex;
  padding: 12px;
  
  
}

.card:hover {
    box-shadow: #00000030 0 6px 12px;
    transform: translateY(-0.5px);
}

.card-info {
  width: 100%;
  height: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  flex-direction: column;


  /* position: absolute; */
}

.card-img {
  object-fit: cover;
  position: relative;
  text-align: center;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

/* glass style */
.glass {
  background: #efefef26;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid #efefef13;
  
}

.description-list {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 4px;
}

.bookmark {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: auto;
}

.star {
  color: #00000040;
  font-size: 42px;
}
.star-filled {
  color: #00000040;
  font-size: 42px;
  color: #ffdb4a;
}
.star:hover, star-filled:hover {
  color: #00000040;
  font-size: 42px;
  color: #ffdb4a;
}
