/* FORM COMPONENT CSS */

/* INPUTS */
input[type="text/email"],
[type="password"] {
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #000000;
  font-size: 1rem;
  min-width: 28vw;
  min-height: 6vh;
  display: inline-flex;
}

input:hover {
  border: 2px solid #1a1a1a;
}

::placeholder {
  font-size: 12px;
  font-weight: lighter;
}

/* FORM LABELS */
.form-section {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  position: relative;
}

.form-field {
  flex-direction: column;
  margin: 8px 0;
  position: relative;
  /*  */
}

.form-card {
  padding: 32px;
  border: 8px solid #262626;
  width: 28%;
  height: 40%;

}

.form-img {
  height: 100%;
  object-fit: cover;
  position: relative;
  text-align: center;
}
