/* FORM COMPONENT CSS */

/* INPUTS */
input[type="text"], [type="password"] {
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #000000;
  display: block;

  width: 28vw;
  height: 6vh;
}

input:hover {
  border: 2px solid #1a1a1a;
}

::placeholder {
  font-size: 12px;
  font-weight: lighter;
}

/* FORM LABELS */
.form-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.form-field {
  flex-direction: column;
  margin: 8px 0;
  /*  */
}
