.corousel {
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.hero {
  
}

.hero-text {
  position: absolute;
  inset: 0;
}

.center {
    text-align: center;
    top: 30%;
}
