/* MAIN APP LAYOUT */
.App {
  width: 100vw;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 0px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  
  align-items: center;
  align-content: center;
  display: absolute;
  position: relative;
  text-align: center;
}

.footer {
  grid-area: footer;
}

/* COLOUR MANEGEMNT CSS */
.dark-bg {
  background-color: #0e0607;
  color: #f4f2f6;
}

.light-bg {
  background-color: #f4f2f6;
  color: #0e0607;
}

.primary {
  background: #f9841a;
}

.secondary {
  background-color: #fea346;
}

.tertiary {
  background-color: #bc5e29;
}

.white {
  color: #f6f6f6;
}

.image {
  width: 400px;
  height: 300px;
  display: block;
  position: relative;
  text-align: center;
}

.left {
  float: left;
  left: 0;
}
.right {
  float: right;
  right: 0;
}

/* TEXT DECO */
.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: block;
  flex-wrap: wrap;
}

.title {
  margin-top: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.title-display {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 144px;
  
}

.img-text {
  position: absolute;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/* BUTTONS */
.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: auto;
  max-width: auto;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: #00000040 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.icon-area {
  flex-direction: row;
  position: relative;
  display: inline-flex;
  gap: 8px;

}

.icon-s {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  transition: all .3s;
}

.icon-m {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  transition: all .3s;
}


.icon-s:hover {
  
  
}

/* SECTION / LAYOUT DISPLAY ELEMENTS OF THE ITEMS */

.card-section {
gap:16px;
display: flex;
flex-direction: column;
padding: 32px;
}

.bottom {
  
}
