.App {
  text-align: center;
}

/* COLOUR MANEGEMNT CSS */


.dark-bg {
  background-color: #0E0607;
  color: #F4F2F6;
}
.light-bg {
  background-color: #F4F2F6;
  color: #0E0607 ;
}
.primary {
  background: #F9841A ;
}

.secondary {
  background-color: #FEA346;
}

.tertiary {
  background-color: #BC5E29;
}

.white {
  color: #F6F6F6;
}
